<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${channel.channelName}"></title>
    <link rel="icon" type="image/x-icon" th:href="@{/assets_home/images/youtube-favicon.ico}">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/assets_home/home.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets_home/channel.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

</head>
<body>
<div th:replace="~{home/fragments/general.html::
     topbar('/assets_home/images/Youtube-logo.jpg','/')}"></div>

<div class="container-fluid" style="margin-top:73px">
    <div class="row">
        <div class="col-xl-2 col-lg-1">
            <div th:replace="~{home/fragments/general.html::sidebar('show')}"></div>
        </div>
        <div class="col-xl-10 col-lg-11 mt-5 px-5">
            <main>
                <div class="row mb-3">
                    <div class="col-2 p-0 pl-4">
                        <img class="rounded-circle" th:src="@{${channel.photosImagePath}}"
                             width="150" height="150" style="object-fit: cover;">
                    </div>
                    <div class="col-10 p-0">
                        <h2 th:text="${channel.channelName}"></h2>
                        <p>
                            <span th:text="'@'+${channel.channelName}"></span>
                            <span class="align-text-bottom">.</span>
                            <span th:text="${channel.totalVideo}+' video'"></span>
                        </p>
                    </div>
                </div>
                <div class="row mb-3">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a th:class="'nav-link '+${page=='home'?'active':''}"
                               th:href="@{/{channelName}/home(channelName=${channel.channelName})}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a th:class="'nav-link '+${page=='videos'?'active':''}"
                               th:href="@{/{channelName}/videos(channelName=${channel.channelName})}">Video</a>
                        </li>
                    </ul>
                </div>
                <!-- Video list  -->
                <th:block th:if="${page=='home'}">
                    <div th:replace="~{home/fragments/channelFragment.html :: home(${videoList})}"></div>

                </th:block>
                <th:block th:if="${page=='videos'}">
                    <div th:replace="~{home/fragments/channelFragment.html :: videos(${videoList})}"></div>

                </th:block>


                <!--End Video list  -->

            </main>
        </div>
    </div>
</div>
<script th:inline="javascript">

    var baseUrl = /*[[${baseUrl}]]*/;
    var channelName = /*[[${channel.channelName}]]*/;

</script>
<script th:src="@{/assets_home/channel.js}"></script>

</body>
</html>