#topbar{
    padding-top:0px;
    padding-bottom:0px
}
#youtube-logo{
    margin-left:0px;
}
#youtube-logo button{
    border:none;
}
#youtube-logo a{
    margin-left:10px;
}
 #search-bar {
    position: relative;
   /* max-width: 600px;*/
    margin: auto;
 }
#search-bar input {
    /*max-width:600px;*/
    height:40px;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-right: 40px;
}
#search-bar button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;

}
#search-bar button:hover {
    background-color: #e8e8e8;
}
.dropdown-menu{
    width:300px;
}
.dropdown-menu .dropdown-header{
    height:70px;
}
 .camera-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f8f8f8;
    text-decoration: none;
    color: #000;
}
.camera-link:hover {
    background-color: #e8e8e8;
}

#video-detail-container {
    margin-top: 73px;
    padding: 0;
    margin-left: 40px;
    margin-right: 40px;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* styles.css */





/*#icon-container {
	color: gray;
	margin-top: 15px;
	cursor: pointer;
	justify-self: flex-end;
	margin-right: 5px;
}*/

.fas {
	font-size: 20px;
}

#app-icon {
	transform: translateY(5px);
	font-size: 20px;
}

#side-bar-section {
    background-color: white;
	margin-left: 0;
	position: fixed;
	left: 0%;
	width: 230px;
	float: left;
	height: 100%;
	overflow-y: auto;
	z-index: 1;
}

#side-bar-section>div {
	margin-bottom: 30px;
}

.side-bar {
	display: flex;
	flex-direction: column;
	margin-left: 0;
	padding-left: 0;
	width: 250px;
	box-sizing: border-box;
}

.side-bar>li {
	list-style-type: none;
	margin-bottom: 20px;
	position: relative;
	box-sizing: border-box;
	width: calc(250px - 20px);
	padding-left: 20px;
	height: 25px;
}

#active-title {
	background: rgba(188, 195, 204, 0.5);
	height: 40px;
	display: flex;
	margin-bottom: 20px;
	left: 0%;
	align-items: center;
}

.material-icons {
	color: rgb(99, 95, 94);
}

#home-icon {
	color: red;
}

.side-bar-titles {
	text-decoration: none;
	color: rgb(53, 50, 49);
	font-size: 15px;
	position: absolute;
	top: 5%;
	left: 35%;
}

.active-sidebar {
	position: absolute;
	top: auto;
	left: 35%;
	font-weight: bold;
}

.fa-clock,
.fa-thumbs-up {
	color: rgb(99, 95, 94);
}

i {
	color: rgb(99, 95, 94);
	font-size: 18px;
}

.side-bar-heading {
	color: rgb(99, 95, 94);
	font-weight: bold;
	padding-left: 20px;
	margin-bottom: 20px;
}

.channel-dp-container-1 {
	height: 25px;
	width: 25px;
	border-radius: 50%;
	display: inline-block;
	justify-self: flex-start;
}

.channel-dp-1 {
	height: 100%;
	width: 100%;
	border-radius: 50%;
	object-fit: cover;
	position: relative;
}

#video-section {
	margin: 20px 5px 0 5px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-left: 255px;
	margin-top: 60px;
	padding-top: 20px;
}

.video-container {
	margin-top: 20px;
	margin-bottom: 40px;
}

.images {
	width: 295px;
	height: 175px;
	margin-bottom: 5px;
}

.video-description {
	display: flex;
	flex-direction: row;
}

.channel-dp-container-2 {
	height: 35px;
	width: 35px;
	border-radius: 50%;
	display: inline-block;
	justify-self: flex-start;
}

.channel-dp-2 {
	height: 100%;
	width: 100%;
	border-radius: 50%;
	object-fit: cover;
}

.video-details {
	width: 200px;
	margin-top: 3px;
	margin-left: 10px;
	justify-self: flex-end;
}

.video-title {
	font-weight: bold;
	text-decoration: none;
	color: black;
	margin-bottom: 5px;
}

.channel-name {
	color: rgb(99, 95, 94);
	text-decoration: none;
	display: block;
	margin-top: 5px;
}

.channel-name:hover {
	color: rgb(53, 50, 49);
}

.views {
	color: rgb(99, 95, 94);
	text-decoration: none;
}

.fa-circle {
	color: rgb(99, 95, 94);
	font-size: 2px;
	transform: translateY(-3px);
}

.time {
	text-decoration: none;
	color: rgb(99, 95, 94);
}

footer p {
	text-align: right;
	color: rgb(99, 95, 94);
	margin-right: 20px;
}

@media all and (max-width: 255px) {
	.video-description {
		padding-left: 5px;
		padding-right: 5px;
	}
}

/*@media all and (max-width: 300px) {
	nav {
		flex-wrap: wrap;
	}

	#search-bar {
		order: 1;
		flex: 1 1 100%;
		justify-self: center;
	}
}*/

@media all and (max-width: 315px) {
	.images {
		width: 100%;
	}
}

@media all and (max-width: 991px) {
	/*#side-bar-section {
		display: none;
	}*/

	#video-section {
		margin-left: 0;
	}

	#youtube-logo-container {
		margin-left: 0;
	}
}
