#topbarStudio{
    padding-top:10px;
    padding-bottom:10px
}
#studio-logo{
    margin-left:0px;
}
#studio-logo button{
    border:none;
}
#studio-logo a{
    margin-left:10px;
}
 #search-bar {
    position: relative;
   /* max-width: 600px;*/
    margin: auto;
 }
#search-bar input {
    /*max-width:600px;*/
    height:40px;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-right: 40px;
}
#search-bar button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;

}
#search-bar button:hover {
    background-color: #e8e8e8;
}
.dropdown-menu{
    width:300px;
}
.dropdown-menu .dropdown-header{
    height:70px;
}
 .camera-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f8f8f8;
    text-decoration: none;
    color: #000;
}
.camera-link:hover {
    background-color: #e8e8e8;
}

#video-detail-container {
    margin-top: 73px;
    padding: 0;
    margin-left: 40px;
    margin-right: 40px;
}