<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <title>404 Not Found</title>
    <link rel="icon" type="image/x-icon" th:href="@{/assets_home/images/youtube-favicon.ico}">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>

<body>

<div class="container d-flex justify-content-center align-items-center flex-column" style="height:500px">
    <img th:src="@{/assets_home/images/monkey.png}" width="200">
    <p class="mb-0 mt-2">

        This page isn't available. Sorry about that.</p>
    <p>
        <a th:href="@{/}">
            <img th:src="@{/assets_home/images/Youtube-logo.jpg}" alt="" width="150">
        </a>
    </p>

</div>
</body>

</html>