<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Youtube</title>
    <link rel="icon" type="image/x-icon" th:href="@{/assets_home/images/youtube-favicon.ico}">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets_home/home.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


</head>
<body>
    <div th:replace="~{home/fragments/general.html::
     topbar('/assets_home/images/Youtube-logo.jpg','/')}"></div>

    <div class="container-fluid" style="margin-top:73px">
        <div class="row">
            <div class="col-xl-2 col-lg-1">
                <div th:replace="~{home/fragments/general.html::sidebar('show')}"></div>
            </div>
            <div class="col-xl-10 col-lg-11" style="padding-left:35px">
                <main>
                    <div class="row">
                        <th:block th:each="video : ${allVideo}">
                            <div class="col-xl-4 col-md-6 mb-5 " >
                                <div class="card-deck">
                                    <div class="card" style="width: 21rem;border:none">
                                        <a th:href="@{/videos/{videoId}(videoId=${video.videoId})}">
                                            <img class="card-img-top" th:src="@{${video.thumbsPath}}" alt="Card image cap">
                                        </a>
                                        <div class="card-body" style="padding: 0;padding-top: 15px;">
                                            <div class="row">
                                                <div class="col-2" >
                                                    <a th:href="@{/channels/{channelName}(channelName=${video.channelName})}">
                                                        <img class="rounded-circle" th:src="@{${video.photosImagePath}}" alt="avatar"
                                                             width="40" height="40">
                                                    </a>
                                                </div>
                                                <div class="col-10" style="line-height:0">
                                                    <a class="text-decoration-none" th:href="@{/videos/{videoId}(videoId=${video.videoId})}">

                                                        <h5 class="card-title text-dark"
                                                            th:text="${video.title}" style="font-size: large;" ></h5>
                                                    </a>

                                                    <a class="card-text text-decoration-none text-muted" th:text="${video.channelName}" th:href="@{/channels/{channelName}(channelName=${video.channelName})}" ></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </main>
            </div>
        </div>
    </div>



    <script th:inline="javascript">
        $(window).resize(function() {
          var width = $(window).width();
          if(width >= 1200){
            $("#collapseSidebar").addClass("show");
          }
        });
    </script>

</body>
</html>